@media (max-width: 480px) {
   .Header-section {
     display: flex;
     flex-direction: column-reverse;
     align-items: center;
     justify-content: center;
   }
   .half-width {
     width: 100%;
     padding: 0 0;
   }
   .right-content {
     text-align: center;
   }
   .right-content img {
     width: 80%;
   }
   .left-content {
     text-align: center;
   }
   .left-content h1 {
     margin: 0px;
   }
   .left-content p {
     padding: 0 10%;
     text-align: justify;
   }
   .Drem-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    }
    .half-width {
      width: 100%;
      padding: 0 0;
    }
    .right-content{
      text-align: center;
    }
    .right-content h1{
      font-size: 50px;
      margin: 0px;
    }
    .right-content p {
      padding: 0 10%;
      text-align: justify;
    }
    .items{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
 }
/* 481-768 */
 @media (max-width: 768px) {
  .Header-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .half-width {
    width: 10%;
    padding: 0 0;
  }
  .right-content {
    text-align: center;
    font-size: 20px;
  }
  .right-content img {
    width: 70%;
  }
  .left-content {
    text-align: center;
    font-size: 22px;
  }
  .left-content h1 {
    margin: 0px;
  }
  .left-content p {
    padding: 0 10%;
    text-align: justify;
  }
  .Drem-section {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   }
   .half-width {
     width: 100%;
     padding: 0 0;
   }
   .right-content{
     text-align: center;
     font-size: 20px;
   }
   .right-content h1{
     font-size: 50px;
     margin: 0px;
   }
   .right-content p {
     padding: 0 10%;
     text-align: justify;
   }
   .items{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }

   /* 769-1279 */
 @media (max-width: 768px) {
  .Header-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .half-width {
    width: 10%;
    padding: 0 0;
  }
  .right-content {
    text-align: center;
  }
  .right-content img {
    width: 70%;
  }
  .left-content {
    text-align: center;
    font-size: 26px;
  }
  .left-content h1 {
    margin: 0px;
  }
  .left-content p {
    padding: 0 10%;
    text-align: justify;
  }
  .Drem-section {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   }
   .half-width {
     width: 100%;
     padding: 0 0;
   }
   .right-content{
     text-align: center;
   }
   .right-content h1{
     font-size: 50px;
     margin: 0px;
   }
   .right-content p {
     padding: 0 10%;
     text-align: justify;
   }
   .items{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }

   /* 1280 */
 @media (max-width: 768px) {
  .Header-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .half-width {
    width: 10%;
    padding: 0 0;
  }
  .right-content {
    text-align: center;
  }
  .right-content img {
    width: 70%;
  }
  .left-content {
    text-align: center;
    font-size: 30px;
  }
  .left-content h1 {
    margin: 0px;
  }
  .left-content p {
    padding: 0 10%;
    text-align: justify;
  }
  .Drem-section {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   }
   .half-width {
     width: 100%;
     padding: 0 0;
   }
   .right-content{
     text-align: center;
     font-size: 30px;
   }
   .right-content h1{
     font-size: 50px;
     margin: 0px;
   }
   .right-content p {
     padding: 0 10%;
     text-align: justify;
   }
   .items{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
}